<div class="season-container">
    <mat-progress-bar *ngIf="isLoading" mode="query"></mat-progress-bar>
    <mat-chip-listbox *ngIf="getErrorMessage()">
        <mat-chip-option color="warn">{{ getErrorMessage() }}</mat-chip-option>
    </mat-chip-listbox>
    <mat-card>
        <mat-card-header class="mat-card-header">
            <h2>{{name}}</h2>
        </mat-card-header>
        <mat-card-content>
            <app-search (searchQuery)="onSearch($event)"></app-search>
        </mat-card-content>
    </mat-card>
    <app-matches [matchDays]="filteredItems"></app-matches>
</div>