mat-accordion {
  margin-top: 16px;

  mat-expansion-panel {
    mat-expansion-panel-header {
      padding: 16px;

      mat-panel-title {
        display: flex;
        align-items: center;

        mat-icon {
          margin-right: 8px;
        }
      }

      mat-panel-description {
        font-size: 14px;
        color: #777;
      }
    }

    div.panel-content-matches {
      padding: 16px;
      border-top: 1px solid #ddd;
      cursor: pointer;

      span[routerLink] {
        display: inline-block;
        margin-left: 8px;
        color: #007bff;
        text-decoration: underline;
        cursor: pointer;

        [hidden] {
          display: none;
        }
      }
    }
  }
}

.no-data-text {
  margin-top: 20px;
  background-color: #f44336;
  color: #fff;
}
